/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* ==========================================================================
   Pagination
   ========================================================================== */



.pagination {
  text-align: center;
  padding-top: 25px;
  clear: both;
  margin-bottom: 100px;
}

.pagination ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination ul li {
  text-align: center;
  float: left;
  list-style: none;
}

.pagination ul li a {
  color:grey;
  text-decoration: none;
  padding: 10px 15px;
}

.pagination ul li a.current {
  color: #000 !important;
  text-decoration: underline;
  font-weight: 600;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width : 993px) {

  .grid-item {
    width: 33.33333%;
  }
  
}

@media only screen and (max-width : 992px) {

  .grid-item {
    width: 50%;
  }
  
}

@media only screen and (max-width : 768px) {

  .grid-item {
    width: 50%;
  }
  
  .item-title {
    font-size: 18px;
  }
  
  .item-category {
    font-size: 14px;
  }
  
  .feature img {
    width: 120px;
  }
  
}

@media only screen and (max-width : 480px) {

  .grid-item {
    width: 100%;
  }
  
}

@media only screen and (max-width: 640px) {

  *[class*='col-'] {
    float: none;
    width: 100%;
  }
  
  .alpha { padding: 0; }
  .omega { padding: 0; }
  
  body {
    font-size: 15px;
  }
  
  .btn, input[type='submit'] {
    width: 100%;
  }
  
  .feature {
    text-align: center;
  }
  
  .feature img {
    float: none;
    margin-bottom: 25px;
    margin-right: 0px;
    width: 60%;
  }
  
  .feature .col-1-4 {
    text-align: center;
    padding-right: 0px;
  }
  
  .feature .col-3-4 {
    border-left: none;
    padding-left: 0px;
  }
  
  .footer {
    padding-bottom: 20px;
    height: auto;
  }
  
  .social, .copyright {
    text-align: center;
    line-height: normal;
  }
  
  .social-buttons {
    position: static;
    margin-bottom: 25px;
    background: none;
  }
  
  .social-buttons li {
    float: left;
    padding: 6px 10px;
  }
  
  .social ul {
    margin: 0;
    line-height: 0;
  }
  
  .slick-prev,
  .slick-next {
      margin-top: -15px;
  }
  
  .slick-dots {
      display: none !important;
  }
  

}


/* ==========================================================================
   General
   ========================================================================== */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: 14px/24px 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.float-right { float: right !important; }
.float-left { float: left !important; }
.float-none { float: none !important; }
.block { display: block !important; }

.margin-none { margin: 0 !important;}
.margin-top { margin-top: 50px !important; }
.margin-bottom { margin-bottom: 50px !important; }
.margin-bottom-dbl { margin-bottom: 100px !important; }
.margin-bottom-half { margin-bottom: 25px !important; }

.padding-none { padding: 0 !important; }
.padding-top { padding-top: 50px !important; }
.padding-bottom { padding-bottom: 50px !important; }
.padding-bottom-dbl { padding-bottom: 100px !important; }
.padding-bottom-half { padding-bottom: 25px !important; }

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #e1e1e1;
  clear: both;
}


/* ==========================================================================
   Grid Item Hover
   ========================================================================== */

.item-box {
  position: relative;
  overflow: hidden;
}

.item-caption:before, 
.item-title {
    display: inline-block;
    vertical-align: middle;
}

.item-caption:before {
    content: "";
    height: 100%;
}

.item-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  text-align: center;
  color: #444;
  overflow: hidden;
  background: #fff;
  -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
      transition: 0.2s all linear;
      
}

.item-title {
  margin: 0;
  font-size: 24px;
  padding: 0 10px;
  width: 95%;
}

.item-category {
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
}

/* Hovers */

.item-box:hover .item-caption {
  opacity: .85;
}


/* ==========================================================================
   Header
   ========================================================================== */
   
.header {
  width: 100%;
  background: #fff;
  padding-bottom: 42px;
  padding-top: 42px;
}

.site-title {
  display: block;
  margin-bottom: 33px;
}

.site-title img {
  vertical-align: middle;
  width: 284px;
  height: 21px;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}

.main-nav ul li a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #6e6e6e;
  text-decoration: none;
  letter-spacing: .5px;
}

.main-nav ul li a:hover {
  color: #ccc;
}

.main-nav .selectednavlink a {
  color: #000 !important;
  border-bottom: 2px solid #000;
}

.main-nav .emptynavlink {
  display: none !important;
  visibility: hidden;
}

.mobile-nav {
  cursor: pointer;
  float: right;
}

.mobile-nav i {
  font-size: 20px;
  line-height: 24px;
  color: #555;
  -webkit-transition:0.2s color linear;
      transition:0.2s color linear;
}

.mobile-nav i:hover {
  color: #999;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content {
  margin: 0 auto;
  background: #f0f0f0;
}

.content-section {
  padding-bottom: 75px;
  padding-top: 50px;
}

/* ==========================================================================
   Home Features
   ========================================================================== */
   
.feature {
  margin-bottom: 100px !important;
}

.feature img {
  float: left;
  margin-right: 50px;
  width: 194px;
  height: auto;
}

.feature .details {
  overflow: hidden;
}

.feature h2 {
  font-size: 22px;
}

.feature h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature .col-1-4 {
  text-align: right;
  padding-right: 50px;
}

.feature .col-3-4 {
  border-left: 1px solid #e1e1e1;
  padding-left: 50px;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.row {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

*[class*='col-'] {
  float: left;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}

.col-1-1 { width: 100%; float: none; }
.col-1-2 { width: 50%; }
.col-1-3 { width: 33.33333%; }
.col-2-3 { width: 66.66666%; }
.col-1-4 { width: 25%; }
.col-3-4 { width: 75%; }
.col-1-5 { width: 20%; }
.col-2-5 { width: 40%; }
.col-3-5 { width: 60%; }
.col-4-5 { width: 80%; }

.alpha { padding-left: 0; }
.omega { padding-right: 0; }

.cell { padding: 10px; }
.cell-inner {
  padding: 25px;
  background: #fff;
}
.centered { margin: 0 auto; position: relative; float: none; }

.grid { overflow: hidden; margin: 0; padding: 0; list-style: none; }
.grid-item { padding: 10px; margin: 0;float: left;}
.grid-item img { width: 100%; }
.grid-item h2 { line-height: 28px; }
.grid-item p:last-child { margin-bottom: 0 !important; }





body {
  padding-bottom: 40px;
  color: #ffffff;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  clear:both;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #ffffff;
}
.carousel-inner > .item > img {
  width: 70%;
  margin: auto;
}

/* To get rid of the shadow on the sides*/
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
